@mixin before_circle {
    &::before {
        content: '';
        background-color: $main-color;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        position: absolute;
        // transform: translate(-10px, -6px);
        top: -25%;
        left: 0;
        z-index: -1;
        // top: -25%;
        // left: 0;
    }
    
}

@mixin title_line {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: $main-color;
}

@mixin before_circle_2 {
    &::before {
        content: '';
        background-color: $main-color;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        position: absolute;
        // transform: translate(-10px, -6px);
        top: -9%;
        left: -40%;
        z-index: -1;
        // top: -25%;
        // left: 0;
    }
    
}