.about {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(2, 300px);
    &-section {
        height: 600px;
        margin-top: 120px;
    }
    &-me {
        &-subtitle {
            position: relative;
            padding-left: 10px;
            @include before_circle;
        }
        &-title {
            padding-top: 5px;
        }
        span {
            padding-top: 5px;
            @include title_line;
        }
            &-text {
            padding-top: 20px;
        }
    }
    &-skills {
        height: 300px;
        grid-column-start: 2;
        &-block {
            display: grid;
            column-gap: 50px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 150px);
        }
        &-item {
            gap: 10px;
            display: grid;
            grid-template-columns: 10% 90%;
            &-icon {
                left: 13px;
                position: relative;
                @include before_circle_2
            }
            &-wrap {
                margin-left: 20px;
            }
        }

    }
        
}