.first-screen {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.jpg') center 50%/cover no-repeat;
    // padding-top: 20%;
    &-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &-buttons {
        margin-top: 25px;
        // display: flex;
        // width: 260px;
        // justify-content: space-between;
        // align-items: center;
    }
    &-circle {
        z-index: 2;
        padding-left: 10px;
        position: relative;
        @include before_circle;
    }
    &-link {
        color: #000;
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
}
h1 {
    margin-top: 10px;
}


