.title {
    color: #000;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.25;
    &_fz16 {
        font-size: 16px;
        line-height: 1.5;
        z-index: 2;
    }
    &_fz36 {
        font-size: 36px;
        line-height: 1.67;
    }
    &_fz14 {
        font-size: 14px;
        line-height: 1.5;
    }
    &_fz20 {
        font-size: 20px;
        line-height: 1.5;
    }
}

